h2
{
    text-align: center;
    padding-top: 100px;
}
.wrapper
{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 400px;
    position: relative;
    width: 500px;
}
input
{
    width: 100%;
    border: none;
    height: 50px;
    font-size: 18px;
    border-bottom: 1px solid black;
}
button
{
    position: absolute;
    top: 10px;
    right: 0;
    line-height: 50px;
    border: none;
    background: none;
}
button i
{
    line-height: 50px;
    font-size: 20px;
    color:rgb(149, 149, 149);
}
button:focus, input:focus
{
    outline: none;
}
.results ul
{
    padding: 0;
    margin: 0;
}
.results ul li
{
    list-style: none;
    opacity: 0;
    padding: 8px 12px;
    transition: all 0.5s linear;
}
.results ul li a
{
    text-decoration: none;
    color: black;
}
.results ul li:hover
{
    background: rgb(243, 243, 243);
}
.show .results ul li
{
    opacity: 1;
}
.show .results
{
    padding: 10px;
}